### Notebook info:
> **Movie Streaming Analysis** <br/>
> *Movies_Streaming_Analysis.ipynb* Version 1.0 <br/>
> Last updated in: September 1st, 2021; by Luiz Gustavo Fagundes Malpele. <br/>

<br/>
<div class="alert alert-block alert-success">

### To-Do:

**High-priority:**
- [X] Organize the Data (9/8/2021)
- [X] Preprocessing (9/8/2021)
- [ ] Exploratory Data Analysis (EDA)


**Modeling:**
    
- [ ] Investigate Possibilities for the Dataset


**Streamlit:**
- [ ] Begin the User Interface


    
</div>
<br/><hr/>

<br/>

### Package/library dependencies:

- **matplotlib**, for plots and graphs
- **numpy**, for float-point ranges
- **plotly**, for plotting aesthetics
- **pandas**, for reading json files into data frames
- **datetime**, for time related operations

In [46]:
#import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import math
from datetime import datetime, timedelta
import plotly.express as px 
import plotly.graph_objects as go
from plotly.subplots import make_subplots

<br/><hr/>
## **Initializations**

In [13]:
movies_data_path = '../data/movies_streaming_platforms.csv'
movies_cleaned_data_path = '../data/movies_streaming_platforms_cleaned.csv'

<br/>

### Importing **Functions** library:

In [12]:
%run -i ../libraries/Preprocessing_Library.ipynb

<br/><hr/>
## **Data Acquisition**

In [ ]:
#Applies all preprocessing step to the raw DataFrame
#movies_data = prepare_movies_dataframe(path = movies_data_path, to_csv = True)

In [22]:
#Reads the cleaned DataFrame directly
movies_data = read_cleaned_movies_dataframe(path = movies_cleaned_data_path)

In [23]:
movies_data

,title,year,age,imdb,rotten_tomatoes,netflix,hulu,prime_video,disney,directors,genres,country,language,runtime
index,,,,,,,,,,,,,,
0,The Irishman,2019,18+,7.8,98.0,True,False,False,False,['Martin Scorsese'],"['Biography', 'Crime', 'Drama']",['United States'],"['English', 'Italian', 'Latin', 'Spanish', 'Ge...",209.0
1,Dangal,2016,7+,8.4,97.0,True,False,False,False,['Nitesh Tiwari'],"['Action', 'Biography', 'Drama', 'Sport']","['India', 'United States', 'United Kingdom', '...","['Hindi', 'English']",161.0
2,David Attenborough: A Life on Our Planet,2020,7+,9.0,95.0,True,False,False,False,"['Alastair Fothergill', 'Jonathan Hughes', 'Ke...","['Documentary', 'Biography']",['United Kingdom'],['English'],83.0
3,Lagaan: Once Upon a Time in India,2001,7+,8.1,94.0,True,False,False,False,['Ashutosh Gowariker'],"['Drama', 'Musical', 'Sport']","['India', 'United Kingdom']","['Hindi', 'English']",224.0
4,Roma,2018,18+,7.7,94.0,True,False,False,False,['Other'],"['Action', 'Drama', 'History', 'Romance', 'War']","['United Kingdom', 'United States']",['English'],52.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9510,Most Wanted Sharks,2020,NaN,NaN,14.0,False,False,False,True,['Other'],"['Crime', 'Reality-TV']",['United States'],"['Greek', 'English']",NaN
9511,Doc McStuffins: The Doc Is In,2020,NaN,NaN,13.0,False,False,False,True,['Chris Anthony Hamilton'],['Animation'],['United States'],['English'],23.0
9512,Ultimate Viking Sword,2019,NaN,NaN,13.0,False,False,False,True,['Other'],['Other'],['United States'],['Other'],NaN
9513,Hunt for the Abominable Snowman,2011,NaN,NaN,10.0,False,False,False,True,['Dan Oliver'],"['Drama', 'History']",['Other'],['Other'],NaN
9514,Women of Impact: Changing the World,2019,7+,NaN,10.0,False,False,False,True,['Lisa Feit'],['Documentary'],['United States'],['English'],NaN

<br/><hr/>
## **Summary Statistics**

In [24]:
# Null Values
movies_data.isnull().sum()

title                 0
year                  0
age                4177
imdb                206
rotten_tomatoes       7
netflix               0
hulu                  0
prime_video           0
disney                0
directors             0
genres                0
country               0
language              0
runtime             319
dtype: int64

In [26]:
# Summary Statistics for continuous variables
movies_data.describe()

              year         imdb  rotten_tomatoes      runtime
count  9515.000000  9309.000000      9508.000000  9196.000000
mean   2007.422386     6.156311        53.545015    95.199435
std      19.130367     1.163573        13.197673    29.654047
min    1914.000000     1.100000        10.000000     1.000000
25%    2006.000000     5.500000        44.000000    85.000000
50%    2015.000000     6.300000        52.000000    95.000000
75%    2018.000000     7.000000        62.000000   109.000000
max    2021.000000     9.800000        98.000000   566.000000

<br/><hr/>
## **Exploratory Data Analysis**

In [37]:
movies_data['rotten_tomatoes'][movies_data['netflix'] == True]
movies_data['rotten_tomatoes'][movies_data['disney'] == True]
movies_data['rotten_tomatoes'][movies_data['hulu'] == True]
movies_data['rotten_tomatoes'][movies_data['prime_video'] == True]

index
116     82.0
155     80.0
158     80.0
184     79.0
185     79.0
        ...
8610    13.0
8611    13.0
8612    12.0
8613    12.0
8614    12.0
Name: rotten_tomatoes, Length: 4113, dtype: float64